<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Verificação da Proposição 2</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <h1>Proposição 2</h1>
        <p>Prove que a soma de três inteiros consecutivos é divisível por 3.</p>

        <form action="/" method="post">
            <div class="total">
                <div class="doisInputs">
                    <div class="ladoEsquerdo">
                        <h2>Limite Inferior</h2>
                        <input name="limiteInf" class="inputBox" type="number">
                    </div>
    
                    <div class="ladoDireito">
                        <h2>Limite Superior</h2>
                        <input name="limiteSup" class="inputBox" type="number">
                    </div>
                </div>
                

                <button type="submit" class="button">Calcular</button>
            </div>
        </form>

        <table class="resultTable">
            <tr>
                <th>n</th>
                <th>Expressão</th>
                <th>Soma</th>
                <th>Divisão</th>
                <th>Resto</th>
                <th>Avaliação</th>
            </tr>


            <% for (let j = 0; j < comprimentoJS; j++) { %>
                <tr>
                    <td><%= numeroJS[j] %></td>
                    <td><%= expressaoJS[j] %></td>
                    <td><%= somaJS[j] %></td>
                    <td><%= (Math.round(divisaoJS[j] * 100) / 100).toFixed(2) %></td>
                    <td><%= (Math.round(testeJS[j] * 100) / 100).toFixed(2) %></td>
                    <td><%= avaliacaoJS[j] %></td>
                </tr>
            <% } %>

        </table>
        
        <p class="finalMessage"><%= messageJS %></p>

    </body>

</html>
